.Footer{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #F1F6F4;
    width: 1440px;
    left: 0px;
    top: 0px;
    border-radius: 0px;


}
.Wrapper{
    display:flex;
    justify-content: space-evenly;
    height: 200px;
    width: 1240px;
}

.item1{
    width: 240px;
    max-height: 40%;
}
.footer-img{
    max-height: 50%;
    max-width: 40%;
}
.footer-logo{
    height: 100%;
    width: 100%;
}
.logo-text{
    margin-top: 25px;
    margin-bottom: 40px;
}
h3{
    font-size: 24px;
    color:blue;
    line-height: 20px;
    width: 300px;
}
.footer-store{
    max-width: 95%;
    max-height: 60%;
    display: flex;
    justify-content: flex-start;

}


ul{
    list-style-type:none;
    line-height: 24px;
    font-size: 16px;
}

